#submit_button{
    padding: 10px 20px;
  background-color:forestgreen;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
#guest_name{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#submit_button:hover{
    background-color: green;
}
body{
    text-align: center;
}
#search_button{
    padding: 10px 20px;
  background-color:lightskyblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
#search_name{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#search_button:hover{
    background-color:lightseagreen;
}